<div class="container">
	<h2>User info</h2>
	<div><% if @user.errors.any? %><div>
  					<div id="error_explanation" style="color:red;">
    					<h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
    					<ul>
    						<div><% @user.errors.full_messages.each do |msg| %><div>
      						<li><%= msg %></li>
    						<% end %>
    						<% end %>
    					</ul>
  					</div>
	<%= form_for(@user) do |f| %>
		<div class="field"><%= f.label :Name%> <%= f.text_field :name, autofocus: true %></div>
		<div class="field"><%= f.label :image%><%= f.attachment_field :profile_image %></div>
		<div class="field"><%= f.label :Introduction%> <%= f.text_area :introduction, autofocus: true%></div>
		
			<div class="actions"><%= f.submit "Update User" %></div>
	</div>
<% end %>
