<div class="container">
	<p id="notice">
        <p><%= notice%></p>
      </p>
	<div class="row">
 		<div class="col-xs-3">
		  <h2>User info</h2>
			<%= attachment_image_tag @user, :profile_image, :fill, 100,100, format: 'jpeg,', fallback: "no_image.jpg" %>
			<table class="table">
				<tbody>
					<tr>
						<th>name</th>
   						<th><%= @user.name %></th>
   					</tr>
   					<tr>
   						<th>introduction</th>
 						<th><%= @user.introduction %></th>
 					</tr>
 				</tbody>
 			</table>
 			<div class="row">
				<%= link_to "", edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
			</div>
			<h2>New book</h2>
				<%= form_for(@book) do |f| %>
					<div class="field row">
						<%= f.label :title %>
						<%= f.text_field :title, class: "col-xs-12 book_title"%>
					</div >
					<div class="field row">
						<%= f.label :opinion%>
						<%= f.text_area :body, class: "col-xs-12 body_title"%>
					</div>
					<div class="actions row">
						<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12"%>
					</div>
				<% end %>
		</div>


<div class="col-xs-9">
	<h2>Book detail</h2>
	<table class="table">
	  	<thead>
	  		<tr></tr>
	  	</thead>
	  	<body>
	  		<tr>
<%= link_to book_path(@book2.id) do %> 

<td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg,',fallback: "no_image.jpg" %><br><%= link_to @user.name, user_path(@user.id)%></td>
	 <td><%= link_to @book2.title %></td>
	 <% end %>
<td><%= @book2.body %></td>
<% if @user.id == current_user.id %>
	<td><%= link_to "Edit", "/books/#{@book2.id}/edit",class: "btn-sm btn-success"%></td>
	<td><%= link_to "Destroy", "/books/#{@book2.id}",class: "btn-sm btn-danger", method: :delete,"data-confirm" =>"本当に消しますか?"%></td>
<% end %>
</tr>
</body>
</table>
</div>
</div>
</div>